button {
    padding: 5px 15px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
  }
  
 button:hover {background-color: #3e8e41}
  
 button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  @keyframes customEnterAnimation {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes customLeaveAnimation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }