th,td{
    width: 14.5%;
    min-width: 120px;
    border-collapse: collapse;
    height:50px;
    padding: 5px 5px 5px 5px;
    border:none;
}
tr:nth-child(even){background-color: #e8505b}

table{
    border-collapse: collapse;
    width:50%;
    margin:auto
}