
.text{
    font-display: swap;
    text-shadow: 1px 1px 2px white;
    font-family: Verdana,sans-serif;
}
.logo {
    position: absolute;
    left:7%;
    margin-left: 5%;
    transform: translate(-50%, -50%);
    color:white;
    font-weight: 500;
    font-size:4vw;
    font-display: swap; 
  }

.active1{
    border-bottom: 1px solid white;
}
.active2{
    border-bottom: 1px solid white;
}.active3{
    border-bottom: 1px solid white;
}.active4{
    border-bottom: 1px solid white;
}.active5{
    border-bottom: 1px solid white;
}

@media only screen and  (max-width: 995px) {
.navbarcol{
    background-color: #12162C;
}
}